<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stormy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>384F37BE1B2CE87000E69E3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>384F37D21B2CE87000E69E3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>384F37DD1B2CE87000E69E3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
